{%- if show_skeleton ?? true %}
<div onclick="openify(this, elem('#chat-contents'))" class="round-4 c-pointer p-3 d-flex flex-row border-light-1 round-bx-0 border-b-0" style="background: rgba(0,0,0, 0.45); backdrop-filter: blur(0.25em);">
  <span>{{ chat_title ?? "chat" }}</span> 
  <span class="red-bg d-inline-flex ai-center jc-center round-3 ms-auto" style="color: #fff; padding: 0px 4px;">1</span>
</div>
<div class="pos-relative openify-height border-light-1 d-flex flex-column" id="chat-contents" style="overflow-y: scroll; --to-height: 24em; --transition-time: 0.3s; background: rgba(0,0,0, 0.75); backdrop-filter: blur(0.45em);">
  <div class="pos-absolute d-flex flex-column ai-center jc-center htmx-indicator" 
  id="chat-load-indicator"
  style="background: rgba(0,0,0, 0.5);
  backdrop-filter: blur(0.2em);
  height: 100%;
  width: 100%;">
    <div class="spinner md"></div>
    <div class="mt-2" id="chat-load-indicator-msg"></div>
    <button class="mt-3"
    style="display: none;" _="on click hide me
    then remove .htmx-request from the closest parent <div/>
    then set #chat-load-indicator-msg.innerHTML to ''" 
    id="chat-load-indicator-dismiss-btn">dismiss</button>
  </div>
  <div hx-target="this"
      hx-indicator="#chat-load-indicator"
      hx-swap="innerHTML"
      _="on htmx:sendError add .htmx-request to #chat-load-indicator
      then show #chat-load-indicator-dismiss-btn
      then set #chat-load-indicator-msg.innerHTML to 'failed to request.'" 
  class="round-0 border-box flex-1 d-flex flex-column pos-relative">{% block content %} {% endblock %}</div>
</div>
{% else %}
{% block content %} {% endblock %}
{% endif -%}