@function bgcolortotextcolor($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);
  $l: 1 - math.div((0.299 * $r + 0.587 * $g + 0.114 * $b), 255);
  @if ($l < 0.41) {
    @return $body-text-color-light; 
  } @else {
    @return $body-text-color; 
  }
}

// good naming scheme, as nice as php
@function bgcolortotextcolor2($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);
  $l: 1 - math.div((0.299 * $r + 0.587 * $g + 0.114 * $b), 255);
  @if ($l < 0.41) {
    @return #000; 
  } @else {
    @return #fff;
  }
}
