{% extends "html.twig" %}

{% block content %}
<div class="d-flex flex-row ai-center gap-5"><h2>env editor</h2>
<div class="ms-auto"><button onclick="configdotyamlsave()" class="btn-secondary as-baseline"><i class="bi bi-floppy"></i> save</button></div>
</div>
<hr nomargin class="mt-2 mb-3">
<div class="w-100 resize-y" style="height: 32em;" id="configdotyaml"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.23.0/min/vs/loader.min.js"></script>
<script>
require.config({ paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.23.0/min/vs' }});
let editor;
require(["vs/editor/editor.main"], function() {
  editor = monaco.editor.create(document.getElementById('configdotyaml'), {
    value: `{{ configdotyaml }}`,
    language: 'yaml',
    theme: 'vs-dark' 
  });
}); 

function configdotyamlsave() {
  let value = editor.getValue()
  let form_data = new URLSearchParams();
  form_data.append('data', value);
  let response = fetch("/api/v1/owner/env_edit", {
    method: "POST",
    body: form_data
  });     
}
</script>
{% endblock %}