<div class="d-inline-flex flex-column gap-2 text-center m-auto">
  <h3>invalid setting page</h3>
  <div>how?</div>
  <small class="text-muted">how would you get this page??</small>
  <small class="d-none">sike i know you did this on purpose</small>
</div>