{% extends "html.twig" %}
{% set title = "404" %}

{% block content %}
<div class="d-flex flex-column ai-center">
  <img src="/assets/img/tstblx_404.png" height=80>
  <h2>err</h2>
  <div class="text-muted">woops</div>
</div>
{% endblock %}