{% extends "html.twig" %}
{% set title = "404" %}

{% block content %}
<div class="d-flex flex-column ai-center py-2">
  <img pixelate src="/assets/img/tstblx_404.png" class="mb-2" height=80>
  <h2>err</h2>
  <div class="text-muted">woops</div>
</div>
{% endblock %}