{% extends "html.twig" %}

{% block content %}
<div class="d-flex flex-row gap-2">
  <h2>{{ t.games.games }}</h2>
</div>
<hr class="mt-3 mb-2">
<div class="d-grid gap-4" style="grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));">
  {% for game in games %}
  {% include '/components/game_default.twig' with {game: game} %}
  {% endfor %}
</div>
{% endblock %}