{% extends "html.twig" %}

{% set title = "index" %}

{% block content %}
new era of testbloxery
<button>ass</button>
<input type="text">
<div class="card">
  <button>ass</button>
  <input type="text">
</div>
{% endblock %}