{% extends "html.twig" %}
{% set title = "settings" %}

{% block content %}
<div class="d-flex flex-row flex-wrap gap-5">
  <div class="d-flex flex-column gap-3" hx-target="#settings-content" role="tablist" id="settings-tab" style="flex-grow: 1; flex-basis: 10em;">
    <div exclude-search-html class="w-100">
    <h3 class="mb-2">settings</h3>
    <hr nomargin>
    </div>
    <input class="mb-1" type="search" onkeyup="search_html(this, $('#settings-tab'))" placeholder="search...">
    {% for name, setting_tab in settings_tabs %}
    <a class="d-flex flex-row gap-3 px-2 ai-center" hx-get="/settings/{{ setting_tab.file }}"><h4 class="bi bi-{{ setting_tab.icon }}"></h4> {{ name }}</a>
    {% endfor %}
  </div>
  <div id="settings-content" hx-get="/settings/account" hx-trigger="revealed" class="d-flex flex-1" style="flex-grow: 50; flex-basis: 30em;">
  </div>
</div>
{% endblock %}