{% extends "html.twig" %}
{% set enablenavbar = false %}
{% set enablefooter = false %}
{% set enablecontainerbg = false %}
{% set paddingforcontent = false %}

{% block content %}
<div class="mx-auto p-4 d-flex flex-column gap-3 round-4 border-box" style="width: 100%; max-width: 375px; background: #0c0c0c;">
{% if req.query.page == 1 or not req.query.page %}
<div class="d-flex flex-column gap-2">
  <h2>welcome</h2>
  <span>to get started, what's your gender</span>
  <div class="d-flex flex-row ai-center gap-3 mt-2">
    <select class="btn-primary" id="gender-select" onchange="if(this.value == gndrinput_stp_val.value) { $('#gndrinput_stp').classList.remove('d-none'); } else { $('#gndrinput_stp').classList.add('d-none'); }">
      <option value="NONE" selected>none</option>
      <option value="MALE">male</option>
      <option value="FEMALE">female</option>
      <option value="OTHER">other</option>
      <option id="gndrinput_stp_val" value="custom">custom</option>
    </select>
    <input class="d-none ms-2" id="gndrinput_stp" onkeyup="gndrinput_stp_val.value = this.value;" type="text">

  </div>
  <script> const FancySelectAutoInitialize = false; </script>
  <script src="/assets/js/fancyselect.min.js"></script>
  <script>FancySelect.replace($("#gender-select"));</script>
  <link rel="stylesheet" href="/assets/css/fancyselect.min.css">
</div>
{% elseif req.query.page == 2 %}
{% elseif req.query.page == 3 %}
{% else %}
the setup has failed tragically..
{% endif %}

<div class="d-flex flex-row gap-3 mt-2">
  <button class="ms-auto"><i class="bi bi-arrow-left"></i> back</button>
  <button class="btn-secondary">next <i class="bi bi-arrow-right"></i></button>
</div>
</div>
{% endblock %}