{% extends "html.twig" %}
{% set title = game.title %}

{% block content %}
<div class="d-flex flex-row jc-center" id="ad-banner-1">
  <img class="ratio-banner w-100 mx-auto" style="max-width: 728px;" src="/assets/img/ad-banner.png">
</div>
{% endblock %}