
@mixin gradient-transition($start-gradient, $end-gradient, $duration, $timing-function: linear, $type-for-transition: hover, $border-radius: 0) {
  position: relative;
  z-index: 0;
  border-radius: $border-radius;

  &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: $border-radius;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: opacity $duration $timing-function;
  }

  &::before {
    background: $start-gradient;
    opacity: 1;
  }

  &::after {
    background: $end-gradient;
    opacity: 0;
  }

  @if $type-for-transition == hover {
    &:hover::before {
      opacity: 0;
    }
    &:hover::after {
      opacity: 1;
    }
  } @else if $type-for-transition == active {
    &:active::before {
      opacity: 0;
    }
    &:active::after {
      opacity: 1;
    }
  } @else if $type-for-transition == focus {
    &:focus::before {
      opacity: 0;
    }
    &:focus::after {
      opacity: 1;
    }
  } @else if $type-for-transition == focus-within {
    &:focus-within::before {
      opacity: 0;
    }
    &:focus-within::after {
      opacity: 1;
    }
  }

  @if $type-for-transition == hover {
    &:not(:hover)::before,
    &:not(:hover)::after {
      transition: opacity $duration $timing-function;
    }
  } @else if $type-for-transition == active {
    &:not(:active)::before,
    &:not(:active)::after {
      transition: opacity $duration $timing-function;
    }
  } @else if $type-for-transition == focus {
    &:not(:focus)::before,
    &:not(:focus)::after {
      transition: opacity $duration $timing-function;
    }
  } @else if $type-for-transition == focus-within {
    &:not(:focus-within)::before,
    &:not(:focus-within)::after {
      transition: opacity $duration $timing-function;
    }
  } 

  background: $start-gradient;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: #{(math.div($height, $width)) * 100} + "%";
  overflow: hidden;

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}