// hey bootstrap i stole ur idea lololo!
h6,
.h6 {
  &:not([nobold]) {
    font-weight: 600;
  }
  font-size: 1.1em;
}
h5,
.h5 {
  &:not([nobold]) {
    font-weight: 600;
  }
  font-size: 1.2em;
}
h4,
.h4 {
  &:not([nobold]) {
    font-weight: 600;
  }
  font-size: 1.25em;
}
h3,
.h3 {
  &:not([nobold]) {
    font-weight: 600;
  }
  font-size: 1.5em;
}
h2,
.h2 {
  &:not([nobold]) {
    font-weight: 600;
  }
  font-size: 2em;
}
h1,
.h1 {
  &:not([nobold]) {
    font-weight: 600;
  }
  font-size: 2.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: bgcolortotextcolor2($body-color);
}
::selection {
  color: invert($primary);
  background: $primary;
}

button, input[type=submit] {
  all: unset;
  border: none;
  box-sizing: border-box;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: $font-size-def;
  cursor: pointer;
  color: bgcolortotextcolor(lighten($primary, 2%));
  user-select: none;
  @include gradient-transition(
    linear-gradient($primary, darken($primary, 15%)),
    linear-gradient(lighten($primary, 20%), $primary),
    0.3s,
    ease,
    hover,
    0.25em
  );

  // holy shit it works with the mixin???????
  &:active {
    &::before {
      transition: opacity 0.2s ease;
      opacity: 1;
      background: linear-gradient(darken($primary, 15%), darken($primary, 20%));
    }
    &::after {
      opacity: 0;
      transition: opacity 0.2s ease;
    }
  }
}

input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=search],
input[type=email] {
all: unset;
border: 0.1em solid $secondary;
box-sizing: border-box;
background: $body-color;
border-radius: 0.25em;
padding: 0.25em 0.33em;
}

textarea {
all: unset;
border: 0.1em solid $secondary;
box-sizing: border-box;
background: $body-color;
border-radius: 0.25em;
padding: 0.25em;
}


* {
  font-family: $font-family;
}
html {
  background: $body-color;
}
body {
  margin: 0;
  padding: 0;
  background: $body-color;
  color: $body-text-color;
  font-family: $font-family;
  font-size: $font-size-def;
}


input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  box-shadow: 0 0 0 30px rgba(255, 255, 255, 0) inset !important;
}

a {
  transition: none;
  text-decoration: none;
  color: inherit;
}

a.link:link {
  transition: color ease 1s;
  color: lighten($primary, 10%);
}
a.link:visited {
  transition: color ease 1s;
  color: lighten($primary, 7%);
}
a.link:hover {
  transition: color ease 0.5s;
  color: lighten($primary, 15%);
}
a.link:active {
  color: lighten($primary, 25%);
}
